    body {
	font: 1em/150% Arial, Helvetica, sans-serif;
}
a {
	color: #669;
	texto-decoration: none;
}
a:hover {
	texto-decoration: underline;
}
h1 {
	font: bold 36px/100% Arial, Helvetica, sans-serif;
}

  .buttonStyle 
  {
      background-color:#44C4C4;
      
        width : 95%;
         font-size:1.5em;
       
         -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        }
         a.buttonStyle:hover {
         background-color:Lime ;
           }
/************************************************************************************
ESTRUCTURA
*************************************************************************************/
#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}
#header {
	height: 180px;
}
#content 
{
    background-color:Black;
	width: 600px;
	float: left;
}
#sidebar {
	width: 300px;
	float: right;
}
#footer {
	clear: both;
}



/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* para 980px o menos */
@media screen and (max-width: 768px) {
	
	#pagewrap {
		width: 94%;
	}
	#content 
	{
	      background-color:Black;
		width: 65%;
	
	}
	#sidebar {
		width: 30%;
	}

}

/* para 700px o menos */
@media screen and (max-width: 640px) {

	#content {
		background: #000000;
		width: auto;
		float: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}

}

/* para 480px o menos */
@media screen and (max-width: 400px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#sidebar {
		display: none;
	}

}

/* borde & guideline (puedes ignorarlo) */
#content {
	background: #f8f8f8;
}
#sidebar {
	background: #eeeeee;
}
#header, #content, #sidebar {
	margin-bottom: 5px;
}
#pagewrap, #header, #content, #sidebar, #footer {
	border: solid 1px #ccc;
}